
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>GSMART</title>
		<link rel="stylesheet" href="/public/css/bootstrap.css">
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	</head>
	<body>
		<%- include('partials/navbar') %>
		<div class="container-fluid">
			<div class="row zones-comparing">
				<form method="get" class="select-zones-comparing">
					<span class="title-select-comparing">Select a zone:</span>
					<select onchange="selectZone(this)" class="day-selection custom-select">
						<% let array = ['LTIA','Camflam']%>
						<% array.forEach(function(zone) { %>
							<% if(zone == obj.zone){ %>
   							<option value="<%= zone %>" selected><%= zone %></option>
 							<% } else{ %>
  							<option value="<%= zone %>"><%= zone %></option>
							<% } %>
	    			<% }); %>
					</select>
				</form>
			</div>
			<div class="row">
				<div class="col-lg-6 area-content">
						<div class="card">
							<div class="card-body">
								<canvas id="area-chart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="row tables">
					<div class="col-lg-10">
						<div class="card">
							<div class="card-body">
								<table class="table table-striped">
							    <thead>
							      <tr>
							        <th>Day</th>
							        <th>Traffic Average</th>
							        <th>Traffic Peak</th>
											<th>Total Traffic</th>
											<th>Vendor</th>
											<th>New Visits</th>
											<th>Customers</th>
							      </tr>
							    </thead>
							    <tbody>
										<% for(let i = 0; i < obj.arrayData.length; i++) { %>
									    <tr>
									      <td><%= obj.arrayData[i].selectedDay %></td>
									      <td><%= obj.arrayData[i].dayAverage  %></td>
									      <td><%= obj.arrayData[i].peak %></td>
												<td><%= obj.arrayData[i].totalPeople %></td>
												<td><%= obj.arrayData[i].vendor %></td>
												<td><%= obj.arrayData[i].visitors %></td>
												<td><%= obj.arrayData[i].customers %></td>
									    </tr>
								   	<% } %>
							    </tbody>
							  </table>
							</div>
						</div>
					</div>
				</div>
		</div>

		<script src="/public/js/jquery-3.2.1.min.js"></script>
		<script src="/public/js/popper.min.js"></script>
		<script src="/public/js/bootstrap.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
		<script src="/controllers/comparing.js"></script>
		<script>
			let data = <%- JSON.stringify(obj.dataset) %>;
			drawBarChart(data);
		</script>
	</body>
</html>
