
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>GSMART</title>
		<link rel="stylesheet" href="/public/css/bootstrap.css">
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="/public/css/font-awesome.css">

	</head>
	<body>
		<%- include('partials/navbar') %>

		<div class="container-fluid">

			<div class="top-statistics">
				<h3><%= obj.zone %></h3>
				<div class="col-md-offset-3"></div>
				<form class="day-selection" method="get">
					<select onchange="selectedDay(this,'<%- obj.zone.toString() %>')" class="day-selection custom-select">
						<% obj.days.forEach(function(day) { %>
	        	<option value="<%= day %>"><%= day %></option>
	    			<% }); %>
					</select>
				</form>
			</div>
			<!--Cards info -->
			<div class="cards-info">
				<div class="row center-cols center-align">
					<div class="col-lg-2">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">
									<i class="fa fa-bar-chart-o"></i>
									Traffic Average
								</h6>
								<h4 class="card-subtitle mb-2"><%= obj.dayAverage %></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">
									<i class="fa fa-arrow-up"></i>
									Traffic Peak
								</h6>
								<h4 class="card-subtitle mb-2"><%= obj.peak %></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">
									<i class="fa fa-child"></i>
									Total Traffic
								</h6>
								<h4 class="card-subtitle mb-2"><%= obj.totalPeople %></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">
									<i class="fa fa-star"></i>
									Vendor
								</h6>
								<h4 class="card-subtitle mb-2"><%= obj.vendor %></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">
									<i class="fa fa-sign-in"></i>
									New visits
								</h6>
								<h4 class="card-subtitle mb-2"><%= obj.visitors %></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">
									<i class="fa fa-database"></i>
									Customers
								</h6>
								<h4 class="card-subtitle mb-2"><%= obj.customers %></h4>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row charts">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<canvas id="line-chart"></canvas>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<canvas id="pie-chart"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('partials/footer') %>
		<script src="/public/js/jquery-3.2.1.min.js"></script>
		<script src="/public/js/popper.min.js"></script>
		<script src="/public/js/bootstrap.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
		<script src="/public/js/chart-piece-label.js"></script>
		<script src="/controllers/statistics.js"></script>
		<script>
			let data = <%- JSON.stringify(obj.arrayLine) %>;
			let label = <%- JSON.stringify(obj.arrayLineLabels) %>;
			let data2 = <%- JSON.stringify(obj.arrayPie) %>;
			let label2 = <%- JSON.stringify(obj.arrayPieLabels) %>;
			drawLineChart(data,label);
			drawPieChart(data2,label2);
		</script>
	</body>
</html>
